.login-one{
  background-image:url(../images/123.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  overflow:hidden;
  height: 100%;
}

.error{
  background-image:url(../images/404.jpeg);
  background-size: cover;
  background-repeat:no-repeat;
  overflow:hidden;
  height: 100%;
}
